[2017-12-31 09:32] domob1812 opened #1 "Remove name expiration"
From forking off Namecoin, Proto-CHI still contains the logic to expire names after a certain number of blocks.  This is undesired, so we should remove the functionality.

[2017-12-31 09:36] domob1812 opened #2 "Switch to one-step name registration"
Proto-CHI inherited name registration from Namecoin, which means that it currently uses "two-step" registration with `name_new` and `name_firstupdate`.  To simplify and speed up name registration, we want to switch to one-step `name_register` from Huntercoin.  (The name-stealing issues that Namecoin prevents with the two-step registration are less of an issue here (as in Huntercoin), since names a

[2017-12-31 09:37] domob1812 opened #3 "Disable merge-mining for Proto-CHI"
Proto-CHI should not be merge-mined (as inherited from Namecoin).  Disable support for merge-mining.

[2017-12-31 09:47] domob1812 opened #4 "Switch PoW algorithm to Neoscrypt"
We want to change the PoW algorithm for Proto-CHI from SHA256D inherited from Namecoin/Bitcoin to Lyra2re2 as used by Vertcoin (for instance): https://github.com/vertcoin/vertcoin/tree/master/src/crypto/Lyra2RE

[2017-12-31 10:00] domob1812 opened #5 "Update difficulty retargeting algorithm"
It was proposed to use KGW.  But that one (at least the implementation in Vertcoin) seems highly suspect, as it 1) uses `CBigNum` that was removed from upstream Bitcoin long ago, and 2) seems to rely on floating-point math on `double`'s.

Especially the latter seems to be highly problematic from a consensus point of view, as different results on different nodes might lead to a hard fork.  And diff

[2018-01-06 16:04] #1 closed, assigned to domob1812

[2018-01-07 17:52] domob1812 opened #6 "Specify Proto-CHI block rewards, halving schedule and premine"
We need to update `chainparams.cpp` to specify the desired block rewards, block time, halving schedule and premine, after deciding what the actual amount of coins should be.

[2018-01-07 17:53] domob1812 opened #7 "Specify address format configurations"
We need to update the various constants in `chainparams.cpp` that specify the address format (for plain P2PKH, for P2SH and possibly also for bech32).  For this, we should first decide what the addresses should actually look like.

[2018-01-07 17:54] domob1812 opened #8 "Set up DNS seeds and/or fixed seed nodes"
We need either DNS seeds or at least some fixed, reliable seed nodes that are hardcoded into the client.

[2018-01-07 17:57] domob1812 opened #9 "Clean up chain parameters"
Proto-CHI inherited various cruft from Namecoin in `chainparams.cpp`.  In addition to #6, #7 and #8 (which need some decisions to be made), we need to clean up at least this:

- Enable BIP16, BIP34, BIP65 and BIP66 right from the start
- Set `nMinimumChainWork` and `defaultAssumeValid` to zero
- Change the network "magic bytes"
- Remove checkpoint data
- Remove "historic bug" stuff from Namecoin
-

[2018-01-07 18:25] domob1812 opened #10 "Rebrand"
The code still references "Namecoin" everywhere, as well as Namecoin-icons and Namecoin addresses in examples.  This needs to be changed to Proto-CHI.

[2018-01-07 19:13] #9 closed, assigned to domob1812

[2018-01-14 08:55] #2 closed, assigned to domob1812

[2018-01-14 15:48] #5 closed, assigned to domob1812

[2018-01-17 18:55] #7 closed, assigned to domob1812

[2018-01-18 17:57] domob1812 opened #12 "Remove dblock limit from Namecoin"
Namecoin has a limit on the number of dblocks used per block, from the time when it was based on BDB instead of LevelDB.  Remove it for Proto-CHI, which does not require any "legacy compatibility".

[2018-01-18 19:29] #3 closed, assigned to domob1812

[2018-01-19 17:49] #12 closed, assigned to domob1812

[2018-01-21 09:04] #4 closed, assigned to domob1812

[2018-01-21 17:24] domob1812 opened #14 "Set up multisig address to hold premine"
The team should set up a multisig address to hold the premine.  This will be a follow-up to #6, when we set the real address for the premine on mainnet.

[2018-01-21 17:28] domob1812 opened #15 "Update genesis block timestamp"
Right before launch, we should update the genesis blocks' timestamps (including the coinbase message) and remine them.  Assign this issue to me when we are ready and I can do this.

What should the coinbase message include - a Huntercoin block hash?  A newspaper headline?  Some quote about blockchain gaming?

[2018-01-21 17:30] domob1812 opened #16 "Test mainnet config, set up testnet"
We have ample tests with the regtest config, both inherited from upstream Bitcoin and specific to name stuff.  But before launch, we should run a "real" test connecting multiple machines using the mainnet config and mining some blocks to make sure all is fine.

Also, we might want to permanently set up some nodes and miners on testnet.

[2018-01-23 17:45] #6 closed, assigned to domob1812

[2018-01-25 17:44] domob1812 opened #19 "Get rid of special tx version for name operations"
Namecoin specifies that transactions with name operations must set a special `nVersion`.  This has no use, since one can easily find that out anyway by looking at the name scripts.  It just makes it harder to port stuff like opt-in RBF from upstream Bitcoin.

Since we are starting fresh with Chimaera, we should remove this.

[2018-01-26 18:18] domob1812 opened #20 "Clean up SCRIPT_VERIFY_NAMES_MEMPOOL"
Since we don't have `name_firstupdate` in Chimaera with the associated maturity rule for when it is valid, there's no need for the "hackish" `SCRIPT_VERIFY_NAMES_MEMPOOL` flag.  Clean it up.

[2018-01-26 18:19] domob1812 opened #21 "No need to support old wallet encryption format"
Namecoin 0.3.80 had a non-standard format for encrypting wallets, so that also Namecoin Core supports reading those wallets to be backwards compatible.  That's not necessary for Chimaera, so we can clean this up and revert to the wallet-reading logic of Bitcoin.

[2018-01-27 19:12] #20 closed, assigned to domob1812

[2018-01-28 17:55] #19 closed, assigned to domob1812

[2018-01-31 18:31] #10 closed, assigned to nobody

[2018-02-04 11:18] #21 closed, assigned to domob1812

[2018-02-07 18:27] domob1812 opened #23 "Choose and set maximum name/value length for Chimaera"
Namecoin has a maximum name length of 255 bytes, and a maximum value length of 1023 bytes - plus a limitation that allows only names with values up to 520 bytes to be actually updated.

For Chimaera, we should certainly fix the issue with non-updatable names.  We should also decide what these limits should be.  For instance, Huntercoin has 4096 bytes as maximum value size.

[2018-02-13 19:46] ghost opened #24 "Temporally Reduce Block Reward"
Reduce Block Reward to 1 CHI Per block until after the Token Exchange Period has completed.

We will know the supply needed for PoW etc, so we can use that hardfork to set both the correct reward and set the total supply.

[2018-02-14 16:43] domob1812 opened #25 "Make mining work with an external program"
We should make mining Chimaera possible at least with some external "optimised" CPU miner.  It seems most still rely on `getwork`, which has been removed from upstream Bitcoin in favour of `getblocktemplate`.

This one supports Neoscrypt and `getblocktemplate`: https://github.com/tpruvot/cpuminer-multi

Unfortunately, just using it fails because the miner and Chimaera hash different data.  In part

[2018-02-14 16:54] #24 closed, assigned to domob1812

[2018-03-30 22:17] ghost opened #26 "Block Time Reduction"
If we can reduce the block-times lower it would be an advantage.

If 30 seconds is do-able for the short-term until we implement game channels it would be great.
but if not, then so be it.

I know DGW retarget algo apparently helps with lower block times but not sure how much.
I also don't know how well Neoscrypt would deal with it.

[2018-04-03 17:44] #23 closed, assigned to domob1812

[2018-04-04 16:54] #26 closed, assigned to domob1812

[2018-04-10 16:29] domob1812 opened #28 "Reduce premine amount following hardcap reduction"
Following the reduction of the ICO hardcap (see https://medium.com/@Chimaera_Tech/important-updates-regarding-the-chimaera-token-sale-4d06ffa914bd), we should reduce the premine amount to **222,222,222 CHI**.  (From 333,333,333 set in #6.)

[2018-04-10 18:46] #28 closed, assigned to domob1812

[2018-04-22 18:55] ghost opened #29 "Total Supply for Premine"
222,222,222
Max

[2018-04-23 16:05] #29 closed, assigned to domob1812

[2018-05-30 16:58] ghost opened #30 "wallet not reading chimaera.conf"
as per the title - the wallet is not reading chimaera.conf since a recent update.

[2018-06-01 10:01] domob1812 opened #31 "Add stricter rules for name and value format"
Following Namecoin for now, Chimaera allows arbitrary byte arrays as names and values.  But since we have more clearly defined uses in Chimaera than Namecoin, I think we should restrict these.  (Especially since removing a restriction later is somewhat easier to do than adding one, where the latter means that we have to keep supporting the unrestricted previous version in code forever.)

I propose

[2018-06-04 09:57] #31 closed, assigned to domob1812

[2018-06-04 10:24] #30 closed, assigned to domob1812

[2018-06-08 14:48] domob1812 opened #33 "Add back getwork"
For our mining strategy (see https://github.com/chimaera/Specs/blob/master/mining.md), we should add back the `getwork` RPC method to the core daemon.  This will allow existing mining infrastructure to work out-of-the-box with the custom PoW data format we plan to implement.  This method call is also very similar in nature and implementation to `createauxblock` / `submitauxblock`, which we will ad

[2018-06-08 15:01] domob1812 opened #34 "Enable SHA-256D merge mining"
As part of https://github.com/chimaera/Specs/blob/master/mining.md, we should add back the various merge-mining parts that were removed in #3 (b841843b3c506be536659b96c35b132c09088cab).

[2018-06-19 12:19] #33 closed, assigned to domob1812

[2018-06-19 12:31] domob1812 opened #36 "Switch to PoW data"
Stand-alone mined blocks (which are the only supported PoW until #34 is implemented) should still use separately-attached "PoW data" instead of hashing themselves to a small hash.  This should be implemented as described by our plan for mining, and will pave the way for dual-algo and SHA256D merge-mining.

To resolve this, we need to:

1. Reinstall the difference between `CPureBlockHeader` and `CB

[2018-06-22 08:19] domob1812 opened #39 "Enable dual-algo mining"
Besides Neoscrypt, we want to allow (merge-)mining with SHA256D.  Thus, we should switch to dual-algo, which includes these steps:

1. Accept PoW data with SHA256D algo as proof-of-work.
2. Define some factor to make the "total work" comparable between the two algos and implement that in `GetBlockProof`.  For that to work, we also need to store the algo in `CBlockIndex`.
3. Update difficulty retar

[2018-06-22 08:21] #36 closed, assigned to domob1812

[2018-06-24 08:33] domob1812 opened #40 "Update block rewards after token sale"
Once the token sale is complete, we have to do a hard fork that updates the block rewards (currently set to 1 CHI) to higher values such that the final money supply is correct.  At this point, we should also make the block rewards depend on the PoW algorithm (Neoscrypt 75%, SHA256D 25%) as per our mining design.

[2018-06-25 06:18] #39 closed, assigned to domob1812

[2018-06-27 13:53] domob1812 opened #42 "Desire NODE_WITNESS flag for peers"
Since segwit is enabled in Xyon from the start, we should include `NODE_WITNESS` back into the desired node flags (see also https://github.com/namecoin/namecoin-core/issues/199).

[2018-06-28 12:59] #34 closed, assigned to domob1812

[2018-06-28 14:01] #42 closed, assigned to domob1812

[2018-06-30 07:21] #25 closed, assigned to nobody

[2018-07-01 08:30] domob1812 opened #44 "Rebrand Chimaera to Xyon"
We need to rebrand the core daemon from "Chimaera" to "Xyon".

[2018-07-03 13:25] #14 closed, assigned to domob1812

[2018-07-03 13:45] #44 closed, assigned to nobody

[2018-07-03 13:46] #16 closed, assigned to nobody

[2018-07-08 09:02] #8 closed, assigned to domob1812

[2018-07-09 15:22] domob1812 opened #46 "Fix getwork wrapper script in the Xaya repository"
The `getwork-wrapper.py` script for constructing merge-mined blocks in a solo-mining environment works fine running from the Namecoin repository, but does not work inside Xaya - that's because in Xaya, the `auxpow.py` module it uses depends on another module from `test_framework` (namely `powhash`).

We should fix that by splitting out the parts that are needed by the wrapper script into a separat

[2018-07-10 11:29] #46 closed, assigned to domob1812

[2018-07-11 07:08] domob1812 opened #47 "Add back height field for names"
The `height` field in the output of `name_show` and the likes was somehow lost for Xaya, presumably when removing name expiration from upstream Namecoin.  It is probably not important, but we should bring it back.  And add at least a trivial regtest to ensure we do not lose it again in the future.

[2018-07-11 12:59] #47 closed, assigned to domob1812

[2018-07-13 10:01] #15 closed, assigned to domob1812

[2018-07-13 12:45] domob1812 opened #48 "backupwallet fails with multi wallet"
The `backupwallet` RPC command seems to not correctly select the wallet when using multi-wallet, at least on Windows.

[2018-07-13 12:46] domob1812 opened #49 "checkblocks fails to validate the genesis block"
The startup validation of the last few blocks (configurable with `-checkblocks`) seems to fail for the genesis block.  Reindexing works fine.

This is not a big deal, as there are already more blocks in the chain than the default value of six.  So unless someone plays around with the argument or restarts with fewer than six blocks synced, it will work fine.  Nevertheless, we should understand and

[2018-07-13 13:53] domob1812 opened #50 "Remove nonce restriction in block headers with hard fork"
Currently, the consensus rule is that the `nNonce` field in the actual block header (not the one used for PoW) must be set to zero.  We introduced this restriction to make sure that we can put the field to planned use later as necessary.

As it turns out, it will be beneficial to remove this restriction - this allows miners using the Stratum protocol to use the field as extra nonce in the protocol

[2018-07-14 14:34] xaya commented on #48
It seems this is happening on linux as well.

It is not correctly selecting the source wallet.dat.

`xaya-cli -rpcwallet=game.dat backupwallet "/home/xxxx/wallet.dat"`

[code]
in debug.log

[code]

Identical to windows.

The source wallet in this case should be
`/home/xxxx/.xaya/wallets/game.dat/wallet.dat`

If you are testing, make sure you do not have a wallet in the default location (where it i

[2018-07-14 14:55] xaya commented on #48
looks like the problem is in bitcoin as well.

`2018-07-14T14:52:59Z error copying wallet.dat to /home/xxxx/wallet.dat - boost::filesystem::equivalent: Operation not permitted: "/home/xxxx/.bitcoin/wallets/wallet.dat", "/home/xxxx/wallet.dat"`

[2018-07-14 16:09] domob1812 commented on #48
Thanks for testing - then please open an issue for Bitcoin and post the link here.  Let's see what Bitcoin devs say about it - if they acknowledge the issue but don't immediately have time to fix it, I'm happy to debug and fix it for upstream Bitcoin.

[2018-07-15 09:20] domob1812 commented on #48
Upstream fix is in https://github.com/bitcoin/bitcoin/pull/13667.

[2018-07-16 11:00] domob1812 commented on #48
Fixed on `1.0` in 89951e00cf1caf445ccad37ecb5a6a4a0d393c63.  For `master`, we'll fix it through the upstream patch.  I'll keep this issue open until that is merged.

[2018-07-16 12:09] domob1812 commented on #49
This is caused by some legacy code in `ApplyTxInUndo`, which actually doesn't "support" any non-coinbase transaction in block 1.  This is not an issue for Bitcoin or Namecoin, as they don't have transactions in block 1.  Xaya does, so there the check fails.  We can easily fix it by just removing the legacy code, though, as it is used to support old undo data formats that are not relevant for Xaya.

[2018-07-16 12:18] #49 closed

[2018-07-16 12:42] domob1812 opened #51 "Implement game block attach/detach publishers"
As the first step towards implementing the proposed game interface, we should add the [block attach/detach publishers](https://github.com/xaya/Specs/blob/master/interface.md#attaching-and-detaching-publishers-).

For this, we need to add a new `zmqpub` option to enable and configure the ZMQ endpoint, as well as an option to configure tracked game IDs.  We will probably also need to extend the ZMQ

[2018-07-16 13:42] domob1812 commented on #51
Actually, we can reuse Bitcoin's multi-part message format - we also have a "command string", e.g. `game-attach-block json GAMEID`, payload data (the `DATA` JSON object) and we can have a sequence number as in Bitcoin.  I'll update the interface doc to reflect this.

[2018-07-17 22:01] jipjip opened #52 "unit tests return 'Failed' on MacOs"
I tried to build it for use on my mac and followed the instructions according to https://github.com/bitcoin/bitcoin/blob/master/doc/build-osx.md, replacing the repo with Xaya's

I ran the 'make test' step from the instructions.
It failed (see log at end of this post)

Just out of curiosity I tried to build a dmg, but the app shuts down immediately.  Running it from source ./src/xayad returns 'Ille

[2018-07-18 08:07] domob1812 commented on #52
Unfortunately, I cannot really test this as I don't have a Mac.  To me, it looks like the binary itself is somehow broken, as both your startup error and the unit test seem to fail with signal 4.  Does your debug.log show anything before xayad fails?  Can you perhaps run it in a debugger to get a stack trace or something like that?

I think also @xaya is working on building for MacOS - perhaps And

[2018-07-18 08:38] jipjip commented on #52
I'm not very familiar with the debugger, but using lldb with default parameters I got:
* thread #1, queue = 'com.apple.main-thread', stop reason = EXC_BAD_INSTRUCTION (code=EXC_I386_INVOP, subcode=0x0)
    frame #0: 0x000000010004496c xayad`SetupServerArgs() [inlined] CChainParams::~CChainParams() at chainparams.h:49 [opt]
   46  	 * a regression test mode which is intended for private networks on

[2018-07-18 08:49] domob1812 commented on #52
Thanks - to me that again looks like some general problem with the binary rather than something I can debug on the code level.  Let's see how the MacOS building goes for Andy.

[2018-07-18 10:20] xaya commented on #52
I get the same as you jipjip,
I believe to fix it maybe related to: building with --macosx-version-min..

gcc --mmacosx-version-min=10.x

I will investigate further tonight, but if you manage to sort, that would be great.

I am also running the same macos version as you, in a vm

[2018-07-18 10:39] domob1812 commented on #51
Draft implementation is in https://github.com/xaya/xaya/tree/gamepub - still needs regression tests (and potential fixes for bugs that they uncover).

[2018-07-18 15:56] jipjip commented on #52
I'm not sure if I don't understand how gcc works, or if there is something else (I'm not an OSX dev :) )
My google skills are failing me apparently, because nothing worked out.

Passing the version with flags requires me (if I understood correctly) to point to older developer SDKs, but they don't seem to be present. I guess I need a paid developer account.

I'd be happy to test a solution on my ma

[2018-07-18 17:02] domob1812 opened #53 "Add game_sendupdates RPC"
Once #51 is fixed and we have the basic block attach/detach notifications, we should implement the `game_sendupdates` as described in our spec: https://github.com/xaya/Specs/blob/master/interface.md#recovering-from-out-of-sync-state

This will allow games to recover from an out of sync state and to sync from scratch.

[2018-07-18 17:03] domob1812 opened #54 "Add ZMQ notification for pending moves"
We should implement the ZMQ publisher for `game-pending-move`: https://github.com/xaya/Specs/blob/master/interface.md#pending-moves

This should be based on the code for #51 once it is ready and merged (but likely needs some refactoring to reuse code between two different ZMQ notifiers).

[2018-07-18 17:04] domob1812 commented on #52
Perhaps @cassiniNMC knows how to help here (and is interested in Xaya)?

[2018-07-18 19:45] jipjip commented on #52
Update (no joy):
I tried .configure --with-macosx-version-min=10.x (tried from 8 to 11) but no joy.
Then I tried some different gcc versions trhough macports (gcc 5 and higher).
No errors with config, but make results in: crypto/sha256.cpp:566:no such instruction: `xgetbv'

For what it's worth, it's mentioned in the bitcoin bugs: https://github.com/bitcoin/bitcoin/pull/13471 (merged 24 days ago)

[2018-07-20 05:35] #51 closed

[2018-07-20 15:37] cassiniNMC commented on #52
ok, I'll have a try this weekend.

This commit has already been included in xaya. However, It could easily be that it isn't sufficient for some of the older i5 CPU variants. @jipjip, could you open Terminal.app and enter
_sysctl machdep.cpu.features_
It should display a CPU features list similar to this one:
`FPU VME DE PSE TSC MSR PAE MCE CX8 APIC SEP MTRR PGE MCA CMOV PAT PSE36 CLFSH DS ACPI MMX

[2018-07-20 18:14] jipjip commented on #52
It lists AVX1.0, maybe that is the problem?
FPU VME DE PSE TSC MSR PAE MCE CX8 APIC SEP MTRR PGE MCA CMOV PAT PSE36 CLFSH DS ACPI MMX FXSR SSE SSE2 SS HTT TM PBE SSE3 PCLMULQDQ DTES64 MON DSCPL VMX EST TM2 SSSE3 FMA CX16 TPR PDCM SSE4.1 SSE4.2 x2APIC MOVBE POPCNT AES PCID XSAVE OSXSAVE SEGLIM64 TSCTMR AVX1.0 RDRAND F16C

Great idea to build the bitcoin client. I will give it a go later.

[2018-07-20 18:48] xaya commented on #52
Thanks Cassini.

Not sure if this helps - building in a VM on a core i7 7th gen (but it is showing as "unknown" due to VM)

using the standard guide, it looks like there are no errors (at least it builds the binaries without bombing out)

make check gives

[code]

running the binary returns
`./xayad
Illegal instruction: 4`

sysctl machdep.cpu.features

`machdep.cpu.features: FPU VME DE PSE TSC MSR

[2018-07-20 19:04] xaya commented on #52
just an update

namecore fails the same as XAYA

so it seems something inherited from namecoin

[2018-07-20 19:10] jipjip commented on #52
Confirmed on my machine. Building bitcoin works

[2018-07-22 17:29] domob1812 commented on #52
Thanks all for the debugging!  If this is inherited from Namecoin, please open an issue for Namecoin as well so we remember to fix it there.

[2018-07-22 19:01] jipjip commented on #52
Done.

[2018-07-23 01:09] cassiniNMC commented on #52
This weekend the only macOS hardware I had access to was an old i5 Macbook (early 2011) with macOS 10.11.6 (El Capitan).
On this machine both variants each (qt and daemon) of Bitcoin, Namecoin and Xaya built and started without any problems. _make check_ also runs flawlessly in all three worlds.

However, I noticed a few peculiarities that seem to be irrelevant in macOS 10.11.6 but possibly cause

[2018-07-23 11:08] domob1812 commented on #52
@cassiniNMC, thanks for the help so far!  Regarding the `configure.ac` files:  I compared Namecoin's to Bitcoin's, and didn't see any differences except for rebranding.  What other differences do you see?

Also, what are the warnings displayed for Namecoin that are not there for Bitcoin?

[2018-07-23 21:03] cassiniNMC commented on #52
This is the diff output:

[code]
I have no idea if this is anything to do with the issue. I have zero experience with the Boost library.

ok, it's mostly coins.h and txdb.h that cause identical messages nearly everywhere:

[code]
And a few specific warning messages in main.cpp:
[code]

None of these messages appear while building Bitcoin.

[2018-07-24 07:56] domob1812 commented on #52
Thanks!  The diff you see in `configure.ac` is strange - perhaps you are not comparing the exact version of Bitcoin on which Namecoin is based?  Do you see those if you compare the file from the `bitcoin` branch to `master` (both in the Namecoin repository)?  I don't see those diffs.

The warnings look useful and I can fix them - but I don't think they are related to the issue you see (but who kno

[2018-07-26 17:37] cassiniNMC commented on #52
I can also give a heads-up on my findings so far. After upgrading the old Macbook from macOS 10.11.6 to 10.13.6 I got precisely the same error as @jipjip had reported. Building Bitcoin works but building Namecoin or Xaya doesn't.
At the moment I'm cleaning up the package managers's (brew) environment and re-installing the dependencies, just in case there is some remaining incompatible 10.11.6 mate

[2018-07-29 09:37] #53 closed

[2018-07-29 18:52] xaya opened #57 "Cross Compiling Error"
for part of the cross compile on Ubuntu (using this guide https://github.com/bitcoin/bitcoin/blob/master/doc/build-windows.md ) you must run :

~/xaya/depends$ make HOST=x86_64-w64-mingw32
or
~/xaya/depends$ make HOST=x86_64-apple-darwin11

but an error is returned

make: *** No targets specified and no makefile found. Stop.

[2018-07-30 05:53] domob1812 commented on #57
Indeed, in Xaya there are files removed in `depends/` compared to Namecoin (while there are no changes at all between Namecoin and Bitcoin).  Not sure how that happened, but I'll fix it.

[2018-07-31 09:03] domob1812 opened #58 "Allow access to set of tracked games through RPC"
The set of tracked games (for the `-zmqpubgameblocks` ZMQ interface) can currently only be set at startup time through configuration options.  We should add an RPC that allows to read and modify it.  For instance:

    $ xaya-cli trackedgames
    [...list of games...]
    $ xaya-cli trackedgames add chess
    $ xaya-cli trackedgames remove chess

(This interface would then be similar to `addnode`.

[2018-07-31 09:05] domob1812 opened #59 "getrawtransaction fails for genesis coinbase"
`getrawtransaction` fails for the genesis block coinbase (`0827901b75ab43978c3cf20a78baf040faeb0e2eeff3a2c58ab6521a6d46f8fd` on mainnet).

It returns an error that "this is not an ordinary transaction" - which is correct for Bitcoin and Namecoin, where it is unspendable.  In Xaya, though, it is perfectly valid and spendable (and was already spent in block 1).

[2018-07-31 12:54] #59 closed

[2018-07-31 14:26] #58 closed

[2018-07-31 18:39] jipjip commented on #52
Tested the new version. Still got a failed on the unit test, but after a make deploy I could successfully install the DMG this time. Which is good enough for me. The qt-client seems to work, but I can't tell if sending and receiving works until I get the CHI from the campaign

[2018-07-31 20:14] cassiniNMC commented on #52
We definitely need to get rid of the unit test error which is identical to the crash at program start of namecoind and xayad.

Meanwhile I had cleaned up my package manager environs. This didn't have any effect on the symptoms, though.

At the moment I'm trying to get some hands-on experience with the lldb debugger. lldb is telling me there is a problem with the Namecoin-specific additions to the

[2018-07-31 22:39] cassiniNMC commented on #52
Details from lldb debugging as follows.
(https://github.com/namecoin/namecoin-core/commit/311ac77773dc5121d3451a2645dcbf493b176d16, https://github.com/bitcoin/bitcoin/commit/222e627322ce4de3292259a4868d23983f2a5394)

Backtrace information from a EXC_BAD_INSTRUCTION crash: (irrelevant lldb messages and warnings omitted for better readability)

[code]
This indicates that the first usage of the CChai

[2018-08-01 06:52] domob1812 commented on #52
Thanks, that's a lot of useful details.  Indeed, there's a crucial difference with the `CChainParams` (actually, `Consensus::Params` that is a member of `CChainParams`) between Bitcoin and Namecoin:  In Namecoin, it holds a pointer to a polymorphic class `ConsensusRules`.  And this class was missing a virtual destructor.

This was clearly a bug, so I fixed it in https://github.com/namecoin/namecoi

[2018-08-01 16:55] cassiniNMC commented on #52
Unfortunately, https://github.com/namecoin/namecoin-core/commit/58dd556b17ded2f19fbbeec1cc3276e0d41a7d4a doesn't solve this issue. Same symptoms and same location. Anything else in or related to chainparams.h that looks iffy?

[2018-08-01 17:06] domob1812 commented on #52
Exactly the same issue (also in `CChainParams::~CChainParams()`)?  I'm not aware of anything, unfortunately.  And in any case, it seems very strange to get a "bad instruction" error!

Is there something like `valgrind` on MacOS that you could run, just to see if it shows anything?

[2018-08-01 17:39] cassiniNMC commented on #52
Yes, precisely the same location.

Looks like I can use valgrind for macOS. A few users have reported minor problems when using it for the current OS version 10.13.x. I'll give it a try tomorrow.

[2018-08-03 01:10] cassiniNMC commented on #52
Although both namecoind and namecoin-qt crash with the same "Illegal instruction: 4" user console message, the valgrind logs look very different:
valgrind namecoind:
https://gist.github.com/cassiniNMC/7d1791bcd9f0b58a6e90ac1d1344e5ff
valgrind namecoin-qt:
https://gist.github.com/cassiniNMC/797f481e7582c3e0d3726e3273ab2630

(By the way, the "UNKNOWN mach_msg unhandled MACH_SEND_TRAILER option" warn

[2018-08-07 12:28] domob1812 commented on #48
Upstream PR https://github.com/bitcoin/bitcoin/pull/13667 was merged, and that will make its way to Xaya with the next regular upstream merges - so we can close this now.

[2018-08-07 12:28] #48 closed

[2018-08-07 17:02] domob1812 commented on #52
Thanks!  The "conditional jump depends on uninitialised value" warning looks like the culprint - can you confirm it does not show for Bitcoin?

However, even if that's true, I'm not sure where it comes from.  The stack trace doesn't so far give me any ideas, and I don't see those if running in `valgrind` myself (on GNU/Linux).

[2018-08-12 21:46] cassiniNMC commented on #52
It does show up in bitcoind, I'm afraid, see https://gist.github.com/cassiniNMC/a73a45c296926e7618b2c58c21801eb4 or verbose https://gist.github.com/cassiniNMC/1034daf624e2cf1e88af5cda1b0a1ea4 (based on commit height https://github.com/bitcoin/bitcoin/commit/2ab72080ad7568b5f1c7d2611f9792c9f3811f65 )
I guess this doesn't help us a lot for the moment being.

Trying another approach, I git checked-ou

[2018-08-14 13:15] domob1812 opened #61 "Distinguish "game-block-*" notifications that were requested"
`game-block-*` notifications can be sent either due to genuine changes in the best chain, or because they were requested with `game_sendupdates`.  In the former case, they also convey the information that the best chain is now updated, which is not true in the latter.

Thus, the notifications should be distinguishable.  We should include a new field `request` in the notifications' JSON - it is not

[2018-08-21 13:27] domob1812 commented on #61
Another, related new feature:  Add the `rngseed` of the block to the notification JSON objects so that games can use that as well in their game-state computation.

[2018-08-22 09:34] domob1812 commented on #61
All implemented in #62.

[2018-08-22 09:34] #61 closed

[2018-08-30 06:36] domob1812 opened #63 "Include block height and timestamp in ZMQ notifications"
The ZMQ `game-block-*` notifications should include also the block height and timestamp; this can be used by games to alter their rules based on scheduled forks.

[2018-09-05 10:45] domob1812 commented on #63
While doing that, we can also clean up the JSON object's format.  All block-related things could be moved into a new `block` subobject:

    {
      "hash": block hash (currently "child")
      "parent": parent block hash,
      "height": block height,
      "timestamp": block timestamp,
      "rngseed": rng seed,
    }

[2018-09-05 13:00] domob1812 commented on #63
Implemented in eb878933e8640242a1ac25e926c611321232758a.

[2018-09-05 13:00] #63 closed

[2018-09-27 08:37] domob1812 commented on #40
Another, perhaps simpler solution for making the block-reward algorithm-dependent while ensuring an exactly fixed supply:  Instead of changing the *actual* reward per block for the two algorithms, we could change the spacing of blocks.  For instance, Neoscrypt-blocks could be scheduled every 30 seconds, while SHA-256d blocks are scheduled only every 90 seconds.  This means that - even if they have

[2018-10-10 10:44] domob1812 opened #65 "Limit number of blocks sent for any one game_sendupdates call"
The [`game_sendupdates` RPC call](https://github.com/xaya/Specs/blob/master/interface.md#requested-updates) allows to request data from blocks between two custom points in the "block tree" to be sent.  Typically, this is from the current state of some game (or the initial one!) to the current tip.

This means that especially during initial sync, it can be a lot of blocks that are requested.  Due t

[2018-10-12 15:29] #65 closed

[2018-10-17 05:47] domob1812 commented on #50
This was implemented in 89f0ad27f805efe922b03879e4aaa5d9e202308d on the `fork` branch.  I create a pull request and merge it to `master` together with the changes for #40.

[2018-10-18 05:08] domob1812 opened #67 "Change block intervals with upcoming hardfork"
With the upcoming "post-ICO" hard fork, we should change the block intervals and make them algorithm-dependent.  That way, we can achieve an uneven split of block rewards (75% vs 25%) between Neoscrypt and SHA-256d, without having to worry about the issues discussed in #40.

To keep blocks on average at 30 seconds and get the 75/25 split, we should have Neoscrypt blocks every 40 seconds (three per

[2018-10-18 05:11] domob1812 commented on #40
Discussed this offline with @xaya, we'll go for tweaking the block interval to achieve the desired algo-dependent block reward.  Implementing this is tracked in #67.  After that is done and the final coin supply fixed, we can change the block reward for this issue.

[2018-10-22 15:18] domob1812 commented on #67
Core implementation is in c47aecdb333efaf8af83e89ead65c8d27d6b4067.  As it is not possible to test difficulty retargeting in regtest mode, we need to test that it works (beyond what the unit tests do already) on testnet before merging that.

[2018-11-06 09:00] domob1812 commented on #40
The `fork` branch now contains the main code to implement this.  For now, the block reward is set to **10 CHI** after the fork.  This will be the value we use on testnet for testing the fork there.  Once the final fork height for mainnet has been fixed, we can calculate the right value for mainnet and update it there.

@xaya:  Please let me know at what height you think we should activate the fork

[2018-11-06 10:20] domob1812 opened #70 "Test and finalise POST_ICO fork"
With #69 merged, the main part for the "post ICO" fork has been coded.  In this issue, we should track how the activation and testing on testnet goes as well as the finalisation on mainnet (fork height and correct block reward).

[2018-11-06 10:20] domob1812 commented on #67
Closing this now, as the main coding is done.  Finalisation of the fork is being tracked in #70.

[2018-11-06 10:20] #67 closed

[2018-11-06 10:20] domob1812 commented on #50
Closing this now, as the main coding is done.  Finalisation of the fork is being tracked in #70.

[2018-11-06 10:20] #50 closed

[2018-11-06 10:21] domob1812 commented on #40
Closing this now, as the main coding is done.  Finalisation of the fork is being tracked in #70.

[2018-11-06 10:21] #40 closed

[2018-11-06 14:09] domob1812 commented on #70
The nodes I run (including testnet ones) have been updated to the version that activates the fork on testnet at block 11k.  @xaya will do so for his testnet nodes as well.

[2018-11-08 16:40] xaya commented on #70
Testnet nodes have been updated and I have mined past the fork block.
The rewards increased and from first inspection it looks like the timings of the algos were ok.

Pre fork clients are now stuck on 10999 unless they start mining.

so seems good.

[2018-11-21 13:30] DarkClaw1 opened #72 "Memory not released after batch RPC requests"
**Describe the issue**
The xayad process does not release memory to the OS (mint 19) after making rpc requests. When requests are sent one at a time this is barely noticeable, but with large (and especially repeated) batch requests it can start using/reserving many GB of memory.

**What behavior did you expect?**
That xayad would release the memory after returning the results

**What was the actua

[2018-11-22 15:31] domob1812 commented on #72
I've created [a script](https://gist.github.com/domob1812/b3a681e15178aab469436f435bdeb2ff) that reproduces your test 5 as far as I can tell.  When I run it on my machine, RAM usage (as shown by the `RES` column in `top`) of Xaya Core (I'm using `xaya-qt` here) goes from 320 MiB to 2.7 GiB but then back down to about 380 MiB for me.

Can you test my script to see if it does reproduce your problem

[2018-11-23 07:28] domob1812 opened #73 "Pass g/ name updates also via ZMQ interface"
Updates to a game's `g/` name (e.g. `g/mv` for mover) should be passed through the `gameblocks` ZMQ notification in addition to `p/` name moves in the game.  This can be used to send admin data, like changes to game parameters.

[2018-11-23 07:53] domob1812 commented on #72
Ok, so now I've rerun with `xayad`.  I see basically the same results as previously with `xaya-qt`, though:  Memory goes from 230 MiB to a peak of 2.7 GiB, but then drops back to 450 MiB afterwards.  There is a slight increase over the requests in the peak usage, but that may be due to fuller blocks later on.  There is also the overall increase from 230 MiB to 450 MiB, but that is perhaps due to m

[2018-11-23 14:47] domob1812 commented on #73
Cherry-picked to `1.1` branch in 131a4b1bc010df10537421b66cf82ee22b3d51d1.

[2018-11-23 14:47] #73 closed

[2018-11-23 16:05] DarkClaw1 commented on #72
Interesting. What OS? The other odd thing is that apparently 3x more ram is being allocated in my case for the same task. The 2990wx has a "strange" architecture where not all cores have direct access to the ram, I wonder if it could even be specific to that.

[2018-11-23 16:17] domob1812 commented on #72
I'm running Debian 9 (Stretch) on a (quite old) amd64 laptop.  4 GiB RAM in total (so the test actually brings me close to swapping already with my usage).

[2018-11-23 17:35] domob1812 commented on #70
As for the block reward, here's my calculation (but anyone please check it):

With fork height H, the reward structure will be like this:
- 1 CHI for blocks 1 to H-1
- X CHI for blocks H to 4.2M-1
- X/2 CHI for blocks 4.2M to 8.4M-1
- and so on

So the total PoW reward (with variables H=44k and the unknown X) is:

(H-1) + X * (4.2M - H) + X/2 * 4.2M + X/4 * 4.2M + ...

Summing up the geometric ser

[2018-11-23 18:01] domob1812 commented on #70
@DarkClaw1 and of course anyone else, please check my calculation above if you can.

[2018-11-23 21:21] DarkClaw1 commented on #72
Perhaps the OS allocating more memory just because there is more memory available then. Not sure what settings/constants would determine that. Any difference here?
[code]
I'm waiting for a cpu fan but should be able to check this on a different pc next week.

[2018-11-25 10:11] domob1812 commented on #72
Yes, maybe.  Here's what my system has:

    $ grep -i hugepagesize /proc/meminfo
    Hugepagesize:       2048 kB

    $ grep flags /proc/cpuinfo
    flags		: fpu vme de pse tsc msr pae mce cx8 apic sep mtrr pge mca cmov pat pse36 clflush dts acpi mmx fxsr sse sse2 ss ht tm pbe syscall nx rdtscp lm constant_tsc arch_perfmon pebs bts rep_good nopl xtopology nonstop_tsc aperfmperf pni pclmulqdq dtes

[2018-11-28 15:45] DarkClaw1 commented on #70
Is github supposed to notify me if my username is mentioned? Because I just came across this now.

Also, I would have recommended considering going with a close to even block reward (obviously 4 would be best, but maybe round down to 3.8 so there aren't that many more coins) to make things easier. There are too many difficult to remember numbers involved in the coin supply at this point.

Too late

[2018-11-28 15:57] domob1812 commented on #70
It does notify me, but I'm not sure what/if there are any settings involved.  I think a round number won't really help - it is "close to" 3.8 anyway for any purposes where you just want some estimate.  And otherwise it will become non-round over time as well due to halvings, so I don't see where it would help.

But yes - I think now it is too late.  The total supply (and thus my math) is correct,

[2018-12-08 19:44] DarkClaw1 opened #75 "Error when updating"
This is probably something dumb I did but it looks like my attempt to update to the latest branch failed:
[code]
Now I see this:
[code]
Sorry if this is just some misunderstanding of git...

[2018-12-09 14:09] domob1812 commented on #75
That looks to me like you had some changes in your git repository that are not compatible with the changes made by us in the latest version (in those files that are marked as conflict).

To recover, I think you can try something like `git merge --abort` and `git reset HARD origin/master`, which will reset your repository to the current version from us.  It may "delete" your changes if those were n

[2018-12-10 16:17] DarkClaw1 commented on #75
That worked, I don't remember making any changes though. Maybe you can figure it out from this info:
[code]
Anyway, if you want to assume this was just some random thing I messed up then I can close.

[2018-12-11 09:25] domob1812 commented on #75
In any case, this is related to the git workflow and not Xaya's code, so I'll close now.

[2018-12-11 09:25] #75 closed

[2018-12-11 16:28] DarkClaw1 opened #76 "Do we need to use the 1.1 branch to be compatible with the block 440k hardfork?"
Ok, after updating my repo and recompiling I see:

[code]
Should I have instead checked out the 1.1 branch?

[2018-12-11 16:50] domob1812 commented on #76
That change in question is not relevant here, but yes, at the moment you should ideally use the `1.1` branch for now.  There is one small change that is present on `1.1` and not yet on `master`, as we are going to merge it to the master branch through upstream repositories (Namecoin in this case).

Eventually `master` will be fine as well, maybe in two weeks or so.

That said, there is not "much"

[2018-12-11 21:24] DarkClaw1 commented on #76
I meant to only show the status of my xaya repo.

Ok, thanks. I'll use the numbered branches from now on.

[2018-12-11 21:24] #76 closed, assigned to nobody

[2018-12-12 07:06] domob1812 commented on #76
Ah ok.  I thought you were perhaps worried about that "changed address format" in there.  In case you were or someone else is, that is just a change to the unit test and not related to any forks or anything like that at all.

That's certainly the most reasonable choice.  Typically `master` branch should be fine as well, though, the current situation is kind of exceptional.

[2018-12-13 07:17] DarkClaw1 opened #77 "Replace "bitcoin"/"namecoin" in code/docs with "xaya""
Throughout the code and docs there are various mentions to bitcoin/namecoin when obviously it should say xaya instead. This seems a bit unprofessional and (naively) should be easily solved.  Is there a reason no tool has been created to automatically substitute these terms?

[2018-12-13 07:40] domob1812 commented on #77
The problem here is that we regularly merge upstream changes, so we certainly do not want to replace *all* occurances.  We do want to replace everything that is visible to users, but we do not want to replace things that are just variable/function/class names in the code (because doing so would lead to tons more merge conflicts).

If you find any user-visible places that need to be updated (and I'

[2018-12-14 03:43] DarkClaw1 commented on #77
Yea, I was thinking stuff like this:

https://github.com/xaya/xaya/blob/034e172b3e792b6750b7fc87083537c94e03d3b5/src/wallet/rpcwallet.cpp

[2018-12-17 13:06] domob1812 commented on #77
With the latest upstream merges, this location is now fixed.  If you have any more concrete places, let us know.  Thanks!

[2018-12-17 13:06] domob1812 commented on #76
For the record, since 009decbf9e22fd2cb227f3f1f27723974b640f82 also the `master` branch can be used completely fine again (except of course that it may be unstable).

[2018-12-31 06:15] RyuMaster opened #78 "Database error when special characters used in path"
[code]

Does not happen for latest namecoin or bitcoin client. Happens only when special characters are in path, tested on Windows 10 64x;

[2018-12-31 06:16] RyuMaster opened #79 "Daemon not starting, when special characters are in datadir"
Tested on Windows 10 64x; When I set up datadir with special characters in path, no files are being created in that folder at all, not even debug log, it just stays empty

[2018-12-31 10:04] domob1812 commented on #79
That is strange - the regression tests [explicitly include special characters](https://github.com/xaya/xaya/blob/c9360ff7707a5fdb414bdc7ed6d133fe62d19f01/test/functional/test_runner.py#L294).  At least on GNU/Linux, they work fine for me.  (But perhaps there was some upstream Bitcoin bug, as a consequence of which this was added to the tests.)

Have you ever tried running the regression tests (`te

[2018-12-31 10:05] domob1812 commented on #78
How is this related to #79?  Just from the bug descriptions, it sounds like this bug is a direct consequence of #79 - or is the behaviour different (e.g. when the special characters are due to the default path vs in an explicit `-datadir`)?

[2018-12-31 10:06] domob1812 commented on #78
Also, when you say that this works for upstream Namecoin and Bitcoin:  Have you started those with the exact same configuration as Xaya Core, i.e. with `vault` and `game` wallets?  The error message above explicitly complains about the `vault` wallet file.  So perhaps this is something that only happens with a multi-wallet setting.

[2018-12-31 11:04] RyuMaster commented on #79
This one could be due to *bat file wallet uses, I will make more tests and get back

[2018-12-31 11:06] RyuMaster commented on #78
This is not related to #79, hence I opened 2 seperate issues,
I did start those without explicitly naming wallets. Will do so and get back

[2018-12-31 12:37] xaya commented on #78
Yes this is not related to multiwallets.

The same issue if you run the daemon without any options (Default datadir etc)

might be worth testing on Linux too

[2019-01-01 16:54] domob1812 commented on #78
@xaya:  As I stated in #79, the regtests actually verify that an explicit `-datadir` with special characters works fine.  This leaves us with two options:

1) This is broken on Windows only - please try running the regtests (`test/functional/test_runner.py`) on Windows, if possible.
2) This is broken only for the default datadir, not when explicitly setting it with `-datadir`.  Do you know already

[2019-01-01 16:56] domob1812 commented on #78
Also, what does the database error file (as listed in the error message from the original post) state?

[2019-01-02 07:32] RyuMaster commented on #79
Yes, this is *.bat file error. For some reason, it works only after I run it for the second time. As this is not related to XAYA core, issue can be closed.

[2019-01-02 07:36] RyuMaster commented on #78
I ran daemon directly using this:

`xayad.exe -wallet=vault.dat  -wallet=game.dat -server -rpcallowip=127.0.0.1 -datadir="C:\ХахахаКостик2" -zmqpubhashtx=tcp://127.0.0.1:28332 -zmqpubhashblock=tcp://127.0.0.1:28332 -zmqpubrawblock=tcp://127.0.0.1:28332 -zmqpubrawtx=tcp://127.0.0.1:28332`

the C:\ХахахаКостик2\vault.dat\db.log error looks is as follows:

`xayad.exe -wallet=vault.dat  -wallet=game.d

[2019-01-02 07:39] kr1z1s commented on #78
Do not use the Cyrillic alphabet.

[2019-01-02 07:41] RyuMaster commented on #78
I do not, but some XAYA Electron wallet users have it inside their default path as windows username

[2019-01-02 19:50] RyuMaster commented on #78
In the example logs above, you can see that I am passing datadir explicit.

Yes, this is odd, that it works for bitcoin. I also tested namecoin with the exactly same configuration options as in the example above, and it worked too.

[2019-01-03 10:52] RyuMaster commented on #78
I did try, but  test/functional/test_runner.py  gives me all kind of trouble even on normal English windows version. Maybe it was not tested with win properly, or I need some specific python configuration to run it

[2019-01-03 10:54] domob1812 commented on #78
For Windows, it is certainly tested in upstream Bitcoin.  But I don't know if it works with cross-compile, and if it needs special attention to run.  Then don't worry about it for now.

[2019-01-04 00:20] xaya commented on #78
this issue is now fixed upstream here > https://github.com/bitcoin/bitcoin/issues/15089

but another related ish issue here (although it is a separate problem still involves special characters) > https://github.com/bitcoin/bitcoin/issues/15092

[2019-01-04 23:57] xaya commented on #78
I have built and tested xaya 1.1 branch with the bdb fix https://github.com/bitcoin/bitcoin/issues/15089 + leveldb fix here https://github.com/bitcoin/bitcoin/issues/15092
for windows 64bit and 32bit and it seems to fix both issues.

@domob1812 I can release these windows binaries but are you able to go over both those fixes to see if they could cause any major issues anywhere else?
we can then wa

[2019-01-05 05:01] ZhenyuChenIan opened #80 "yiimp mining pool functions"
We are trying to setup a yiimp mining pool to mine CHI(Xaya),

but some functions is not found (returns "error -32601: method not found"),

so we looked into the pool's codes, found the pool can not work without 4 functions, which is missing in xaya 1.1.
the 4 functions are:
1. getinfo (Returns an object containing various state info.)
2. getaccountaddress (Returns the current bitcoin address for

[2019-01-05 11:54] domob1812 commented on #78
I'm not an expert about the touched code parts, but as far as I can tell, yes, it should be fine to release fixed binaries for now.  I also agree that we should wait for those changes to be merged upstream for the main codebase.  (And yes, looks like the first patch is indeed already merged upstream - so will be merged to Xaya soon, e.g. next week.)

[2019-01-05 11:56] domob1812 commented on #80
Those functions have been deprecated and later removed in Bitcoin Core for a long time, please replace them accordingly.

1) `getinfo` should be replaced with `getnetworkinfo`, `getwalletinfo` and `getmininginfo`.
2) `getaccountaddress` should be replaced with `getnewaddress` (and setting a label).
3) `listaccounts` should be replaced with `listlabels`.
4) `move` and internal accounting (other tha

[2019-01-05 14:30] ZhenyuChenIan commented on #80
hi domob, thanks for your reply! indeed those functions are expired, but most pool codes are finished before 2017 with old functions, while many coins inherited old bitcoin codes so these two old things works fine together and widely...
so from tech perspective the old functions has no value, but from real business perspective, they mean compatible to most exising mainstream pools (maybe 85%+), ma

[2019-01-06 09:34] domob1812 commented on #80
I understand that - but I'm afraid we are still not going to support them, since we try to follow upstream Bitcoin code as closely as possible.  (And yes, I know that 99.9% of alts out there use very outdated Bitcoin code and never update it - but that is not something we should immitate.)

[2019-01-06 15:11] mohammad1381mohammad opened #81 "محمد"

[2019-01-06 16:08] #81 closed

[2019-01-09 21:51] xaya commented on #80
@ZhenyuChenIan
are there any other mining pool softwares you can use?

[2019-01-23 16:42] DarkClaw1 opened #82 "Xaya crashes when restarted"
**Describe the issue**
Xaya can only sync from scratch, if xayad/etc is closed and restarted it crashes

**What behavior did you expect?**
To be able to restart the xaya process

**What was the actual behavior (provide screenshots if the issue is GUI-related)?**
**-Linux:**
[code]
**-Windows:**
[code]

**How reliably can you reproduce the issue, what are the steps to do so?**
Simply stop xayad/etc

[2019-01-23 18:37] domob1812 commented on #82
Thanks for opening the report!  I believe this is caused by non-zero `nNonce` values in recent blocks (as enabled after the fork).  This is all fine from the consensus point of view, but it causes issues with the on-disk block index.

I'm investigating this further and will test a fix shortly.

[2019-01-23 18:52] domob1812 commented on #82
Indeed.  The reason for this bug is as follows:  The `nNonce` field was removed from `CBlockIndex` in Xaya, since it used to be always zero - but this is no longer the case after the fork.  The result is that `nNonce` is zero (or actually not present and assumed to be zero) for `CBlockIndex` instances that are loaded from disk during startup - and then the block hash is computed for them to insert

[2019-01-23 18:54] domob1812 commented on #82
Proposed fix is in #83.  We will merge that to `master` and `1.1` after appropriate testing.  But everyone feel free to test themselves with the pull request, of course - any feedback is welcome!

[2019-01-23 19:43] DarkClaw1 commented on #82
[code]

[2019-01-23 22:11] xaya commented on #82
working on windows

@DarkClaw1 did you test on linux?

(yes unfortunately you need to sync from scratch)

[2019-01-23 22:14] DarkClaw1 commented on #82
Yes, I only tested on linux.

[2019-01-24 13:41] domob1812 commented on #82
The fix from #83 has been merged to `master` and backported to `1.1`.  It is also present in the latest bug-fix release, https://github.com/xaya/xaya/releases/tag/v1.1.1.

[2019-01-24 13:41] #82 closed

[2019-02-07 07:12] domob1812 commented on #78
Also the LevelDB fix is now merged upstream and in Xaya's `master`.  Both fixes are also backported to `1.1`.

[2019-02-07 07:12] #78 closed

[2019-02-07 07:13] domob1812 opened #84 "Pass spent inputs in the game notifications"
Currently, move transactions passed to game notifications contain the name, move data as well as outgoing CHI payments.  We should also pass spent inputs, since that can be useful for certain [atomic trading techniques](https://github.com/xaya/xaya_docs/blob/master/trading.md).

[2019-03-15 14:23] #84 closed

[2019-03-15 15:54] domob1812 commented on #84
The fix has been merged to `master` in #87 and backported to `1.2` in 6b6e1617becbe87f22a724f918d88b80b80f80f7.

[2019-04-05 02:24] DarkClaw1 opened #88 "Instructions to register a name lead to an error"
I was trying to learn how to register multiple names to the same address and may have come across a bug. The help for xaya-cli name_register shows this:

[code]
The first example works fine for me, but not the second:

[code]
Also, is this supposed to be the right way to register multiple names to the same address? Does what i am trying to do even make sense?

[2019-04-05 08:58] domob1812 commented on #88
Good catch, that's indeed a bug - but in the example, not the code itself.  The right way to do it is `destAddress`, so something like this:

    $ xaya-cli name_register p/myname "{}" '{"destAddress":"Cabc..."}'

This is a bug with upstream Namecoin, so we will fix it there.

[2019-04-05 09:44] domob1812 commented on #88
Actually, that wrong example is not present anymore also in current Xaya Core.  So I guess we can just close this - the next version should not have the faulty example.

[2019-04-05 09:44] #88 closed

[2019-04-16 09:22] asheshk commented on #52
Facing this issue with namecoin build on macOS Mojave 10.14.3,  was any solution found for this?

[2019-04-29 10:36] xaya commented on #52
Hi, sorry for the late response.
I never managed to successfully build on Mac, but it's possible to cross compile from ubuntu using the this guide:

1. make sure all normal dependencies met + these:
`sudo apt-get install curl librsvg2-bin libtiff-tools bsdmainutils cmake imagemagick libcap-dev libz-dev libbz2-dev python-setuptools`

2.  Download MacOSX10.11.sdk.tar.gz (you need mac OS to get it or

[2019-04-29 10:37] xaya commented on #72
apologies for not responding sooner, - I have not run the tests but is this still an issue?
I will hopefully test this week or so

[2019-04-29 10:38] #77 closed

[2019-04-29 17:07] domob1812 opened #89 "Gracefully handle multiple updates of same name in a block"
Current mempool policy of Namecoin does not allow multiple updates of a single name in one block, but in theory it is possible to construct such a block directly (I think).  This will crash Xaya Core's ZMQ game notifications when done for a (tracked) `g/` name.

We should update the code to fix this, which also means making `cmd` in the block data an array.  At the same time, we can even make it a

[2019-04-30 05:56] #54 closed

[2019-04-30 08:33] domob1812 commented on #89
See also #73.

[2019-04-30 08:38] domob1812 commented on #54
Fixed on `master` and backported to `1.2`.

[2019-04-30 12:43] domob1812 commented on #89
Test case for Namecoin, which exhibits this edge-case behaviour: https://github.com/namecoin/namecoin-core/pull/299

Based on that, we should probably build a Xaya test doing multiple admin commands in one block, and use that to fix the implementation and make sure it is good afterwards.

[2019-05-02 09:44] #89 closed

[2019-05-03 12:22] domob1812 commented on #80
Closing this, as we are not going to add back the old functions.  Instead, pool software should be fixed - that will be needed anyway at some point in the future to support new versions of Bitcoin itself as well.

[2019-05-03 12:22] #80 closed

[2019-05-08 18:39] xaya commented on #72
did you manage to check this on a different PC darkclaw?

[2019-05-10 12:39] DarkClaw1 commented on #72
Sorry, never got around to it. I have another pc (Win 7) running xaya and will try to do that today.

[2019-05-10 13:43] DarkClaw1 commented on #72
On the win 7 pc I saw almost this exact same behaviour (~0.340 GiB to peak at 2.3 GiB then down to 0.410 GiB).

[2019-09-07 13:35] domob1812 opened #98 "Expose median time for games"
In addition to block height and the block's timestamp, we should expose also the median time to games in the game-block notifications.  That can be useful, as it is a measure of time that is guaranteed to be increasing over time.

[2019-09-16 12:17] domob1812 opened #99 "Avoid stuck transactions for long chains of unconfirmed moves"
When long chains of unconfirmed moves are created, they get stuck in the wallet due to the mempool tx chain limit.  We should somehow avoid this; for instance, if possible we could return an error from `name_update` if it attempts to create a too long chain, rather than succeed with a transaction that will not get mined.

[2019-09-19 07:47] #98 closed

[2019-09-22 10:38] domob1812 commented on #99
Fixed with 59cb9575994514951a328ef2e8389b73f77c947d (based on the upstream PR).

[2019-09-22 10:38] #99 closed

[2019-11-13 12:17] RyuMaster opened #101 "Wrong description?"
rpcname.cpp has:

{"address", RPCArg::Type::STR, RPCArg::Optional::NO, "The address to send to."},

should not it be

{"name", RPCArg::Type::STR, RPCArg::Optional::NO, "The nameto send to."},

?

[2019-11-14 12:21] domob1812 commented on #101
I assume you are talking about `sendtoname`?  Indeed, that seems like a bug in upstream Namecoin.

[2019-11-18 10:36] #101 closed

[2019-11-18 10:37] domob1812 commented on #101
Fixed upstream in https://github.com/namecoin/namecoin-core/commit/50cd27ebef7f4b18b8793afd650580ef4238020c, which was merged to Xaya's `master` in 1ba84a7cbaac6a2f10ea2e930dffea59149e2efb.

[2019-12-16 09:27] domob1812 opened #102 "CHI burns for games"
In addition to CHI payments, games should also be able to react to CHI burns.  This will give developers a way to make actions costly, but in a fully decentralised way (i.e. they don't benefit themselves).

For this, we should extend `name_update`'s options to allow sending burns, and we should pass burns with the transaction data to games.

Note that the `OP_RETURN` output should include the game

[2020-01-05 09:18] #102 closed

[2020-10-09 02:29] DeckerSU commented on #52
If somebody still interesting in solution for this bug (i mean `Illegal instruction: 4`), seems it's related to `CreateChainParams` call inside `HelpMessage` in `init.cpp`. Declaring unique_ptrs to `CChainParams` as static seems partially solve the issue:
[code]
Partially, bcz on exit from wallet it also fails with `Illegal instruction: 4` in unique_ptr default_delete. This leads me to the followi

[2020-10-09 06:53] domob1812 commented on #52
@DeckerSU Indeed, very good catch!  We've had the `CChainParams` like this "forever" in Namecoin, but it is certainly true that the class should have a virtual destructor.

This should be fixed in https://github.com/namecoin/namecoin-core, from which it will be merged into Xaya weekly.  If you want you can create a PR there (so you are a contributor), or I can do it for simplicity.

[2020-10-09 13:55] DeckerSU commented on #52
@domob1812 PR is done - https://github.com/namecoin/namecoin-core/pull/371 , don't sure if i used correct branch.

[2020-10-12 04:56] domob1812 commented on #52
Thanks, looks good!  I'll close it here and merge the other one (in a bit).

[2020-10-12 04:56] #52 closed

[2022-01-01 17:10] OneArb opened #109 "Core compiling issues"
Hi,

I am able to compile and run bitcoin core on Manjaro.

libxayagame is not compiled on my machine.

I encounter the following warning and error messages compiling Xaya Core:

interfaces/chain.cpp: In member function ‘virtual std::unique_ptr<interfaces::Chain::Lock> interfaces::{anonymous}::ChainImpl::lock(bool)’:
interfaces/chain.cpp:251:25: warning: redundant move in return statement [-Wredun

[2022-01-03 08:21] domob1812 commented on #109
Can you please give us more information, like what version of Xaya Core (tag / commit) you are trying to build and what compiler you are using?

[2022-01-04 14:18] OneArb commented on #109
- From `config.log`

[code]
- `git log -1`

[code]

- I switched to 1.6 `git checkout 1.6`

 - `git log -1`

[code]

- Installing `libressl` library resolved error messages.

- Running `xaya-qt`

[code]

Could `fake header PoW` be dependency related?

[2022-01-05 05:44] domob1812 commented on #109
1.3.1 was quite old.  It might be that there were some changes since then to the consensus / PoW bits, so perhaps running the old version had saved some invalid blocks on disk.  Try syncing from scratch / reindexing (e.g. starting with `-reindex`).

[2022-01-05 20:15] OneArb commented on #109
I am also able to run the namecoin wallet fine.

[code]

`xaya-qt -reindex`

[code]

[2022-01-06 07:15] domob1812 commented on #109
Ok thanks, seems like something to look into from our side.

[2022-01-06 11:36] domob1812 commented on #109
I've now resynced from scratch + run a full `-reindex` with an existing chain.  Both worked fine for me on current `1.6` (commit 3d80c541d71e0a7067e78f83b7ee5a6d5fbea854).

[2022-01-07 16:19] OneArb commented on #109
[code]

I am getting again over 8000 thousands lines of warnings, most QT related.
I might have been able to compile once without errors but I cannot reproduce.

`xaya-qt`

[code]

`xaya-qt -reindex`

[code]

`Segmentation fault (core dumped)`

I tried adding `/namecoin/mempool.dat`

[code]

`Segmentation fault (core dumped)`

    When I set a custom directory
      then delete custom directory

[2022-01-07 16:21] OneArb commented on #109
[code]

I am getting again over 8000 thousands lines of warnings, most QT related.
I might have been able to compile once without errors but I cannot reproduce.

`xaya-qt`

[code]

`xaya-qt -reindex`

[code]

`Segmentation fault (core dumped)`

I tried adding `/namecoin/mempool.dat`

[code]

`Segmentation fault (core dumped)`

    When I set a custom directory
        rather than default
      the

[2022-01-10 05:18] domob1812 commented on #109
Hm yes, I guess if you can post a `.xaya` directory that shows the error (make sure to remove anything you don't want to share like passwords / wallets of course) might help.

[2022-01-12 09:09] domob1812 commented on #109
Thanks for sharing.  Unfortunately, if I run Xaya Core 1.6 (both the release tag `v1.6.0` and commit 3d80c541d71e0a7067e78f83b7ee5a6d5fbea854 as per your report) with that data directory, it just starts to sync fine for me as well.  The error message in your `debug.log` seems to indicate that somehow the data on disk got corrupted (in a way which should not happen in practice).

This sounds all ve